In [1]:
from lxml import etree
from io import StringIO
import requests
import pandas as pd
from bs4 import BeautifulSoup
df = pd.DataFrame(columns=['date','Rank','Title', 'Artist','Weeks on chart'])
ind = 0
listofdata = []
for year in range(1955,1958):
    print year
    for month in range(1,13):
        for date in range(1,28,7):
            first = True
            string = str(year)+"-"+str(month).zfill(2)+"-"+str(date).zfill(2)
            page = requests.get('https://www.billboard.com/charts/hot-100/'+string)
            soup = BeautifulSoup(page.content,"lxml")
            title = soup.find('div',class_="chart-number-one__title").text.strip()
            artist = soup.find('div',class_="chart-number-one__artist").text.strip()
            weeks = soup.find('div',class_="chart-number-one__weeks-on-chart").text.strip()
            #print string,title.text,artist.text,weeks.text
            df.loc[ind] = [string,"1",title,artist,weeks]
            ind +=1
            mydivs = soup.find_all("div",class_="chart-list-item")
            for div in mydivs:
                rank = div['data-rank'].encode('utf-8')
                title = div['data-title'].encode('utf-8')
                artist = div['data-artist'].encode('utf-8')
                week = div.find_next('div',class_="chart-list-item__weeks-on-chart")
                if not week:
                    week=  None
                else:
                    week = week.text.strip().encode('utf-8')
                df.loc[ind] = [string,rank,title,artist,week]
                ind +=1
df.to_csv('weekly_billboard_1955_1958.csv',index=False)

1955
1956
1957

In [3]:
df.to_csv('weekly_1955_1959.csv')

UnicodeEncodeError: 'ascii' codec can't encode character u'\xe9' in position 29: ordinal not in range(128)

In [2]:
def getYearlyData(year,row):
    date = row['date']
    y = date.split("-")
    if y == year:

,date,Rank,Title,Artist,Weeks on chart
0,1980-01-01,1,Please Don't Go,KC And The Sunshine Band,20
1,1980-01-01,2,Escape (The Pina Colada Song),Rupert Holmes,12
2,1980-01-01,3,Rock With You,Michael Jackson,10
3,1980-01-01,4,Send One Your Love,Stevie Wonder,10
4,1980-01-01,5,Do That To Me One More Time,Captain & Tennille,12

In [59]:
df[df['Rank']=="1"]

           date Rank         Title          Artist Weeks on chart
0    1960-01-01    1       El Paso   Marty Robbins              9
100  1960-01-08    1       El Paso   Marty Robbins             10
200  1960-01-15    1  Running Bear  Johnny Preston             14
300  1960-01-22    1  Running Bear  Johnny Preston             15
400  1960-01-29    1  Running Bear  Johnny Preston             16

In [23]:
#top 100 most frequent songs from the dataframe
df['title'].value_counts()[:100]

Look For A Star                                         42
The Twist                                               37
Alley-Oop                                               34
Please Help Me, I'm Falling                             33
Hot Rod Lincoln                                         32
Finger Poppin' Time                                     29
Sixteen Reasons                                         28
Heartbreak (It's Hurtin' Me)                            26
Sweet Nothin's                                          25
Mack The Knife                                          25
He'll Have To Go                                        25
Lonely Weekends                                         25
Only The Lonely (Know How I Feel)                       24
Love You So                                             23
Greenfields                                             23
Mission Bell                                            23
Theme From The Apartment                                22
Mountain Of Love                                        22
Let The Little Girl Dance                               22
I'm Sorry                                               22
Devil Or Angel                                          21
Image Of A Girl                                         21
Sink The Bismark                                        21
Mule Skinner Blues                                      20
Money (That's what I want)                              20
Fannie Mae                                              20
Paper Roses                                             20
Night                                                   20
Burning Bridges                                         20
Walk -- Don't Run                                       20
                                                        ..
Never On Sunday                                         16
Tracy's Theme                                           16
Big Boy Pete                                            16
Ballad Of The Alamo                                     16
Baby What You Want Me To Do                             16
Beyond The Sea                                          16
Lonely Blue Boy                                         16
This Bitter Earth                                       16
Puppy Love                                              16
Tell Laura I Love Her                                   16
One Of Us (Will Weep Tonight)                           16
Clap Your Hands                                         16
Walking To New Orleans                                  16
Feel So Fine                                            16
A Million To One                                        16
That's All You Gotta Do                                 16
Why Do I Love You So                                    16
Teen Angel                                              16
Down By The Station                                     16
In My Little Corner Of The World                        16
White Silver Sands                                      16
Lady Luck                                               15
Mr. Lucky                                               15
Cathy's Clown                                           15
Sleep                                                   15
I Really Don't Want To Know                             15
Apple Green                                             15
Beatnik Fly                                             15
A Rockin' Good Way (To Mess Around And Fall In Love)    15
Young Emotions                                          15
Name: title, Length: 100, dtype: int64

In [4]:
import pandas as pd
data = pd.read_csv('weekly_billboard_1960_2017.csv')

In [ ]:
dic = {}
for idx,rows in data.iterrows():
    dic[(rows['Title'],rows['Artist'])].append((row['Rank'],row['date']))